<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RazorInterviewDemo</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RazorInterviewDemo.styles.css" asp-append-version="true" />
</head>
<body style="background-color: #101010; h-full w-full">
    <div class="container" style="padding: 20px;">
        <main role="main" class="pb-3" style="background-color: #fff; padding: 20px;">
            @RenderBody()
        </main>
    </div>    
</body>
</html>
